.container {
    position: relative;
    color: white;
    margin: 10px;
  }
  .description {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  .img {
    height: 265px;
    width: 350px;
  }
  .head {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
  }
  
  .para {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 300;
  }
  
  .pp {
    font-size: 30px;
    font-weight: bold;
    color: black;
    background-color: white;
    width: 50px;
    text-align: center;
    margin-right: 8px;
    height: 40px;
    padding: 2px;
  }
  .p:hover {
    border-bottom-color: red;
    border-bottom-width: 3px;
    border-bottom-style: solid;
  }
  .n:hover {
    box-shadow: 0 1px 0 rgb(163, 86, 86);
  }
  .s:hover {
    box-shadow: 0 1px 0 red;
  }
  .r:hover {
    box-shadow: 0 1px 0 yellow;
  }
  .w:hover {
    box-shadow: 0 1px 0 blue;
  }
  .t:hover {
    box-shadow: 0 1px 0 violet;
  }
  .f:hover {
    box-shadow: 0 1px 0 green;
  }
  .c:hover {
    box-shadow: 0 1px 0 lightblue;
  }
  .d:hover {
    box-shadow: 0 1px 0 white;
  }
  ::placeholder {
    font-size: 20px;
    color: white;
    opacity: 1;
  }
  .sign:hover {
    box-shadow: 0 1px 0 blue;
    cursor: pointer;
  }
  .search:hover {
    background-color: white;
    cursor: pointer;
  }
  